@font-face {
  font-family: 'inconsolata';
  src: url('@/assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'inconsolata-bold';
  src: url('@/assets/fonts/inconsolata/static/Inconsolata-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'inter';
  src: url('@/assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'inter-bold';
  src: url('@/assets/fonts/inter/static/Inter-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'lora';
  src: url('@/assets/fonts/lora/Lora-VariableFont_wght.ttf');
  src: url('@/assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'lora-bold';
  src: url('@/assets/fonts/lora/static/Lora-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'lora-bold-italic';
  src: url('@/assets/fonts/lora/static/Lora-BoldItalic.ttf');
  font-style: normal;
  font-weight: normal;
}