// Colors

$black-900: #050505;
$black-800: #1F1F1F;
$black-700: #2D2D2D;
$black-600: #3A3A3A;
$black-500: #757575;
$white-300: #E9E9E9;
$white-200: #F4F4F4;
$white-100: #FFFFFF;
$accent-01: #A445ED;
$accent-02: #FF5252;

// Fonts

$base-font-inter: Inter;
$base-font-lora: Lora;
$base-font-inconsolata: Inconsolata;

$base-font-inter-bold: Inter-Bold;
$base-font-lora-bold: Lora-Bold;
$base-font-inconsolata-bold: Inconsolata-Bold;

$base-font-lora-bold-italic: Lora-BoldItalic;

// Heading L

$fs-heading-l: 64px;
$lh-heading-l: 77px;
$fw-heading-l: 700;

// Heading M

$fs-heading-m: 24px;
$lh-heading-m: 29px;
$fw-heading-m: 400;

// Heading S

$fs-heading-s: 20px;
$lh-heading-s: 24px;
$fw-heading-s: 400;

// Body M

$fs-body-m: 18px;
$lh-body-m: 24px;
$fw-body-m: 400;

// Body S

$fs-body-s: 14px;
$lh-body-s: 17px;
$fw-body-s: 400;

// Fonts - Dropdown

$dropdown-fw: 700;

// Fonts - Input

$input-fw: 800;